*{
  font-family: "Montserrat Alternates", sans-serif;
      font-weight:900;
}
body{
    background-image:url(/IMG/fondo.jpg);
     background-size: cover;
}


.encabezado{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20%;
    color: rgb(68, 37, 37);
}

.btn{
    margin-top: 10px;
    font-size: large;
    width: 20%;
}